<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sanchez.sanchez.bullkeeper_kids">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <!-- Required for API 28 (Android P) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Application -->
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- Activities -->
        <activity
            android:name=".presentation.SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sign In Activity -->
        <activity android:name=".presentation.login.SignInActivity" />

        <!-- Home Activity -->
        <activity
            android:name=".presentation.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait"/>

        <!-- Monitoring Service -->
        <service android:name=".presentation.services.MonitoringService" />

        <!-- Geofence Transition Service -->
        <service android:name=".presentation.services.GeofenceTransitionService" />

        <!-- Lock Screen Activity -->
        <activity
            android:name=".presentation.lockscreen.AppLockScreenActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait"/>

        <!-- Scheduled Block Active Screen Activity -->
        <activity
            android:name=".presentation.lockscreen.ScheduledBlockActiveScreenActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait"/>


        <!-- Disabled App Screen Activity -->
        <activity android:name=".presentation.lockscreen.DisabledAppScreenActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait" />


        <!-- Awaken Monitoring Service -->
        <receiver
            android:name=".presentation.broadcast.AwakenMonitoringServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="bisite.usal.es.encelocalizacion.TrackingServiceDestroyed" />
            </intent-filter>
        </receiver>

        <!-- Scheduling Monitoring Broadcast Receiver -->
        <receiver
            android:name=".presentation.broadcast.SchedulingMonitoringServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Monitoring Device Admin Receiver -->
        <receiver
            android:name=".presentation.broadcast.MonitoringDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- Phone Call Receiver  -->
        <receiver
            android:name=".presentation.broadcast.phone.CallReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <!-- Sms Broadcast Receiver -->
        <receiver android:name=".presentation.broadcast.SMSBroadcastReceiver">
            <intent-filter>
                <action android:name="android.provider.telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <!-- App Tutorial Activity -->
        <activity
            android:name=".presentation.tutorial.AppTutorialActivity"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait"/>

        <!-- Link Device Tutorial Activity -->
        <activity
            android:name=".presentation.linkterminal.LinkDeviceTutorialActivity"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait"/>

        <!-- Legal Content Activity -->
        <activity
            android:name=".presentation.legalcontent.LegalContentActivity"
            android:label="@string/title_activity_legal_content"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait" />

        <!-- Crash Error Activity -->
        <activity
            android:name=".presentation.crash.CrashErrorActivity"
            android:label="@string/app_name"
            android:process=":error_activity"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.ERROR" />
            </intent-filter>
        </activity>


        <!-- Sos Activity -->
        <activity
            android:name=".presentation.sos.SosActivity"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait" />

        <!-- Pick Me Up Activity -->
        <activity
            android:name=".presentation.pickmeup.PickMeUpActivity"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait" />

        <!-- Time Bank Activity -->
        <activity
            android:name=".presentation.timebank.TimeBankActivity"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait" />

        <!-- Bed Time Activity -->
        <activity
            android:name=".presentation.bedtime.BedTimeActivity"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait" />

        <!-- Settings Activity -->
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait" />

        <!-- Phone Number Blocked -->
        <activity android:name=".presentation.phonenumberblocked.PhoneNumberBlockedActivity"
            android:theme="@style/AppTheme.Common"
            android:screenOrientation="portrait" />


    </application>

</manifest>